{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% load my_tags %}


{% block content %}
   <table class="table orders_list">
       <thead>
         <tr>
           <th>ID</th>
           <th>Создан</th>
           <th>Обновлен</th>
           <th>Статус</th>
           <th>IS active</th>
         </tr>
       </thead>
       <tbody>

           {% for item in objects  %}

               <tr>
                   <td class="td1 orders_list">{{ item.id }}</td>
                   <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                   <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                   <td>{{ item.get_status_display }}</td>
				   <td>{{ item.is_active }}</td>
                   <td>
                       <a href="{% url 'adminapp:order_read' item.pk %}">
                           посмотреть
                       </a>
                   </td>
                   <td>

                         <a href="{% url 'adminapp:order_update' item.pk %}">
                           редактировать
                         </a>

                   </td>
                   <td>

                         <a href="{% url 'ordersapp:order_delete' item.pk %}">
                             удалить
                         </a>

                   </td>
               </tr>

           {% endfor %}
       </tbody>
   </table>


{% endblock %}